.container {
    padding: 30px;
}

.productDetails {
    width: 100%;
    display: flex
}

.leftSide {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    width: 80%;
    position: relative
}

.rightSide {
    flex: 1;
}


.title,
.price {
    color: red;
    font-size: 25px;
    font-weight: 500;
}

.sizeItem {
    display: flex;
}

.item {
    display: flex;
    margin: 0 20px;
    cursor: pointer;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.cart {
    margin-top: 20px
}

.cartQty {
    width: 10%;
    padding: 10px;
    margin-right: 20px;
}

.cartBtn {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .productDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}