.container {
    background-color: #b52f2f;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9999;
}

.item {
    flex: 1;
    display: flex;
}

.callButton {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.texts {
    margin-left: 20px;
    color: #fff;
}

.text:first-child {
    font-size: 15px;
    font-weight: 500
}

.text:last-child {
    font-size: 18px;
    font-weight: 600
}

/* Menu Item Design Below */
.item:nth-child(2) {
    flex: 3;
}

.mainMenuList {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.listItem {
    margin: 0 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

/* Cart Item Design Below */
.item:last-child {
    justify-content: flex-end;
}

.cartButton {
    position: relative;
}

.counter {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    top: -10px;
    right: -10px;
    color: #fc0101;
    font-size: 13px;
}

@media screen and (max-width: 480px) {
    .item:nth-child(2) {
        display: none !important;
    }

    .container {
        min-height: 50px
    }

    .cartButton {
        width: 35px;
    }

    .counter {
        position: absolute;
        width: 15px;
        height: 15px;
        top: -4px;
        right: -10px;
        font-size: 11px;
    }

    .callButton {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
    }

    .texts {
        margin-left: 10px;
    }

    .text:first-child {
        font-size: 12px;
        font-weight: 400
    }

    .text:last-child {
        font-size: 13px;
        font-weight: 400
    }
}