.container {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #b52f2f;
    position: relative;
}

.sliderArrow {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    cursor: pointer;
}

.sliderImgSize {
    background-size: cover;
}

.wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1.5s ease-in-out;
}

.imgContainer {
    width: 100vw;
    position: relative;
}

@media screen and (max-width: 480px) {
    .container {
        height: calc(50vw)
    }
}